.excelDataTable{
    background-color: green !important;
}
.pdfDataTable{
    background-color: red !important;
}
.printDataTable{
    background-color: rgb(255, 255, 255) !important;
}
.verDataTable{
    background-color: rgb(44, 58, 255) !important;
}
.copyDataTable{
    background-color: rgb(255, 187, 0) !important;
}